<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" >

</head>
<body>
	<div class="container">
<div class="row">
     <div>
<h1>Enter the Number to double</h1>
     </div>
         <form th:action="@{Number2}" th:object="${Number2}" method="post">
      <div>
<label>Number</label>
<input type="text" id="num1" class="form-control" name="num" >
      </div>

</br>
       <div>
<input type="submit" value="submit" />
       </div>
   </form>
</div>
</div>
</body>
</html>