<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" >

</head>
<body>
	<div class="container">
<div class="row">
     <div>
<h1>Add Two Numbers</h1>
     </div>
         <form th:action="@{operation}" th:object="${operation}" method="post">
      <div>
<label>Number 1</label>
<input type="text" id="num1" class="form-control" name="num1" >
      </div>
      <div>
<label>Number 2</label>
<input type="text" id="num2" class="form-control" name="num2" >
      </div>
        <div>
<label>Operator</label>
<input type="text" id="operator" class="form-control" name="operator" >
      </div>
</br>
       <div>
<input type="submit" value="submit" />
       </div>
   </form>
</div>
</div>
</body>
</html>