<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" >

</head>
<body>
	<div class="container">
<div class="row">
     <div>
<h1>Return words as json object of sentence</h1>
     </div>
         <form th:action="@{word}" th:object="${word}" method="post">
      <div>
<label>Sentence</label>
<input type="text" id="qord" class="form-control" name="word" >
      </div>

       <div>
<input type="submit" value="submit" />
       </div>
   </form>
</div>
</div>
</body>
</html>